<div class="container mt-5">
  <h1 class="text-center mb-4">Selecciona una Categoría</h1>

    <!-- Puedes agregar más botones de categoría aquí -->

    <div>
      <app-categoria (categoriaSeleccionada)="seleccionarCategoria($event)"></app-categoria>
    
      <div *ngIf="categoriaSeleccionada">
        <!--<h3>Actores en {{ categoriaSeleccionada }}</h3>
        <button (click)="toggleFormulario()">Añadir Actor</button>-->
    
      </div>
    </div>
  </div>

  

  <!-- Componente donde se mostrarán los actores de la categoría seleccionada -->
  <app-detalle-actores [categoria]="categoriaSeleccionada"></app-detalle-actores>


